@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.timeline-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #ffffff;
  transform: translateX(-50%);
}

.timeline-event {
  position: relative;
  width: 50%;
  padding: 10px 40px;
}

.timeline-event .event-content {
  background-color: rgb(1, 0, 59);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-event .event-content h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.timeline-event .event-content h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline-event.left {
  left: 0;
}

.timeline-event.right {
  left: 50%;
}

.timeline-event::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ff9f55;
  border-radius: 50%;
  top: 20px;
  right: -12px;
  border: 4px solid #fff;
}

.timeline-event.right::after {
  left: -13px;
}

.timeline-event a {
  color: #ff9f55;
  text-decoration: none;
}

.timeline-event.left::before {
  content: " ";
  position: absolute;
  top: 25px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  z-index: 2;
}

.timeline-event.right::before {
  content: " ";
  position: absolute;
  top: 25px;
  left: 31px;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .timeline-event {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .timeline-event.left,
  .timeline-event.right {
    left: 5%;
  }

  .timeline {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }

  .timeline-line {
    left: 5%;
    width: 4px;
    background-color: #ffffff;
  }

  .timeline-event::after {
    left: -12px;
    transform: none;
  }

  .timeline-event .event-content {
    padding: 15px;
  }

  .timeline-event.left::before,
  .timeline-event.right::before {
    display: none;
  }
}

.timeline-event a {
  text-decoration: none;
  color: #ff9f55;
}

.timeline-event a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0.1px,
      transparent 90px /* Increased grid size */
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0.1px,
      transparent 90px /* Increased grid size */
    ),
    radial-gradient(circle, #000304, #000000, #010021);
  background-size: 100% 100%; /* Ensure the grid covers the entire background */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.background-text {
  position: fixed;
  bottom: 8px;
  left: 8px;
  font-size: 12rem;
  color: rgba(255, 255, 255, 0.05);
  font-family: Garamond, serif;
  font-weight: 600;
  z-index: -1;
  white-space: nowrap;
  pointer-events: none;
}

@media (max-width: 700px) {
  /* Adjust background text font size for small screens */
  .background-text {
    font-size: 8rem; /* Larger font for mobile */
  }

  /* Ensure the text and layout are responsive on small screens */
  .text-3xl {
    font-size: 2rem; /* Adjust for small screens */
  }

  .text-lg {
    font-size: 1.125rem; /* Adjust for small screens */
  }

  /* Adjust container padding and text alignment */
  #about {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Make sure the page uses the full height */
  .min-h-screen {
    min-height: 100vh;
  }
}

@media (max-width: 480px) {
  /* Further adjust text size for very small screens */
  .text-3xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1rem;
  }

  /* Reduce the background text size even more on very small screens */
  .background-text {
    font-size: 4rem;
    bottom: 65px;
  }
}

.min-h-screen {
  min-height: 100vh; /* Ensure the page uses full height */
  overflow: hidden; /* Prevent scrolling on mobile */
}

.bg {
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0.1px,
      transparent 90px /* Increased grid size */
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0.1px,
      transparent 90px /* Increased grid size */
    ),
    radial-gradient(circle, #000304, #000000, #010021);
  background-size: 100% 100%; /* Ensure the grid covers the entire background */
  background-position: center;
  color: white; /* Ensure the text is white on this background */
}

.main-container {
  margin-top: 115px;
}

.hyperlink {
  color: #ff9f55;
  text-decoration: none;
}

.hyperlink:hover {
  text-decoration: underline;
}

.exp-container {
  margin-top: 165px;
}

.project-container {
  margin-top: 135px;
}
